@model FilialViewModel

<form class="row g-3" method="post" asp-controller="Filial" asp-action="Create">
    <div class="col-12">
        <label for="Nome" class="form-label">* Nome de Exibição</label>
        <input type="text" class="form-control" id="Nome" value="@Model.Nome">
    </div>
    <div class="col-md-6">
        <label for="Cidade" class="form-label">Cidade</label>
        <input type="text" class="form-control" id="Cidade" value="@Model.Cidade">
    </div>
    <div class="col-md-2">
        <label for="Estado" class="form-label">Estado</label>
        <input type="text" class="form-control" id="Estado" placeholder="SP, ES, MG..." value="@Model.Estado">
    </div>
    <div class="col-4">
        <label for="Cnpj" class="form-label">CNPJ</label>
        <input type="number" class="form-control" id="Cnpj" value="@Model.Cnpj">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-success">Salvar</button>
    </div>
</form>